{% extends 'consult.html' %}


{% block content %}
<div style="background:#fbfbfb" class="service-detials-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="widget-categories-box">
					<!-- categories title -->
					<div class="categories-title">
						<h4>服務流程</h4>
					</div>
					<!-- widget categories menu -->
					<div class="widget-categories-menu">
						<ul>
							<li style="padding: 10px 14px 10px;"><a href="#1">大學申請指導<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#2">招生時間表管理<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#3">產業洞察<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#4">考試準備策略<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#5">院校選擇與匹配<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#6">指導申請獎學金和經濟援助<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#7">推薦信指導<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#8">申請論文和履歷指導<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#9">面試準備<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#10">課外活動與領導能力<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#11">大學預科規劃與申請<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#12">全面的申請審查和回饋<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#13">終身支持<span><i class="fas fa-arrow-right"></i></span></a></li>
						</ul>
					</div>
				</div>

				<div class="widget-categories-box">
					<!-- categories title -->
					<div class="categories-title">
						<h4> Our Advantages </h4>
					</div>
					<!-- widget categories menu -->
					<div class="widget-categories-menu">
						<ul>
							<li style="padding: 10px 14px 10px;"><a href="#advantages">Strong Industry Connections<span><i class="fas fa-arrow-right"></i></span></a></li>
							<li style="padding: 10px 14px 10px;"><a href="#advantages">Streamlined Process For Success<span><i class="fas fa-arrow-right"></i></span></a></li>
                        </ul>
                    </div>
                </div>

			</div>
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div style="padding-left: 30px;padding-right:30px" class="col-lg-12 col-sm-12">
						<div class="service-details-thumb">
							<img src="/static/image/about.jpg" alt="">
						</div>
						<div id ="1" class="service-details-content">
							<div class="service-details-main-title">
								<h1>我們的大學諮詢完整服務內容</h1>
							</div>
							<div class="service-details-text">
								<p>Mauris pretium est quis condimentum rutrum. Nulla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div  id ="2" class="service-details-content">
							<div class="service-details-main-title">
								<h2 >大學申請指導</h1>
							</div>
							<div  class="service-details-text">
								<p>Mauris pretium est quis condimentum rutrum. Nulla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>


						<div id ="3" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>招生時間管理</h2>
							</div>
							<div class="service-details-text">
								<p>Mauris pretiumnulis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>


						<div id ="4" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>產業洞察，生涯輔導</h2>
							</div>
							<div class="service-details-text">
								<p>Mauris rutrum. Nulla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div id ="5" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>考試準備策略</h2>
							</div>
							<div class="service-details-text">
								<p>Mauris pretium est quis condla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>


						<div  id ="6" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>院校選擇與匹配</h2>
							</div>
							<div class="service-details-text">
								<p>Mauris pretium est quis con quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div  id ="7" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>指導申請獎學金和經濟援助</h2>
							</div>
							<div class="service-details-text">
								<p>Maurintum rutrum. Nulla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div  id ="8" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>推薦信指導</h2>
							</div>
							<div class="service-details-text">
								<p>ndimentum rutrum. Nulla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div  id ="9" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>協助申請論文和履歷指導</h2>
							</div>
							<div class="service-details-text">
								<p>Ms condimentuatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div  id ="10" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>協助面試準備</h2>
							</div>
							<div class="service-details-text">
								<p>Mauriaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div  id ="11" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>課外活動與領導能力培養</h2>
							</div>
							<div class="service-details-text">
								<p>ean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div  id ="12" class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>大學預科規劃與申請</h2>
							</div>
							<div class="service-details-text">
								<p>lis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iaculis ut, mattis id velit. Aenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div id ="13"  class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>全面的審查和回饋</h2>
							</div>
							<div class="service-details-text">
								<p>Mm rutrum. Nulla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risusAenean malesuada mollis sollicitudin. </p>
							</div>
						</div>

						<div     class="service-details-content">
							<div style="padding:0" class="service-details-main-title">
								<h2>終身支持</h2>
							</div>
							<div class="service-details-text">
								<p>lla cursus varius nulla, quis venenatis dui. Aenean iaculis pretium ex, quis dictum erat bibendum quis. Donec non ex in nunc tincidunt imperdiet et molestie risus. Nunc tristique id justo quis efficitur. Nam eu tincidunt nibh, sed rutrum eros. Maecenas turpis dui, euismod at iain. </p>
							</div>
						</div>



						<div id="advantages" class="service-details-overview">
							<div  class="service-details-overview-title">
								<h2>Our Advantages</h2>
							</div>

							<div class="service-details-overview-list">
								<ul>
									<li>業界強大的關係網絡</li>
									<li>
									通往成功的簡化流程
									<p>
									    我們全球指導了 200 多名學生，每個學生都有其領域的個人顧問以及一支編輯團隊的支持
									</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}