{% extends 'school.html' %}


{% block content %}
<div class="breadcumb-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcumb-content">
					<div class="breadcubm-title">
						{% if lang == 'zh' %}
							<h1>發掘潛能，啟航未來</h1>
							<ul>
								<li><a href="/">首頁</a></li>
								<li>/ 升學諮詢 </li>
							</ul>
						{% else %}
							<h1>Unleash Potential, Embark on the Future</h1>
							<ul>
								<li><a href="/">Home</a></li>
								<li>/ After-school Programs</li>
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="margin-bottom: 100px;margin-top: 50px" class=" style-home2">
	<div class="container">
		<div class="row align-items-center cell-phone-style">
			<div class="col-lg-12">
				<div class="section-title left">
					<h4>升學諮詢</h4>
					<h1>啟迪智慧，成就未來</h1>
					<p>
						我們於2015年由加州大學柏克萊分校傑出畢業生<strong> Ellen Chu </strong>創辦，致力於提供卓越的教育服務。XL Academy以豐富的教育經驗、卓越的學術指導，以及成功將學生錄取至全球知名大學而著稱。					</p>
				</div>
				<div class="about-list-item">
					<ul>
						<li><img src="/static/picture/about-list-icon.png" alt="icon">幫助超過200名學生進入世界頂尖大學，如史丹佛、麻省理工等。</li>
						<li><img src="/static/picture/about-list-icon.png" alt="icon">著重培養學生的批判性思維、創造力和責任感。</li>
						<li><img src="/static/picture/about-list-icon.png" alt="icon">創新、個性化的教學方法，賦予學生面對學術挑戰的信心。</li>
					</ul>
				</div>
				<div class="section-button">
					<a href="/#contact">聯絡我們<i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}