{% extends 'contact.html' %}



{% block content %}
<div class="content" style="margin: 20px;margin-top :100px;">
	<div class="page-inner">
		<div class="row">
			<div class="col-md-8" style="margin: 0 auto">
				<div class="card">
					<div class="card-header">
						<div class="card-title">詳細內容</div>
					</div>
					<div class="card-body">
                        姓名：{{contact.name}}
                        <hr>
                        聯絡電話：{{contact.phone}}
                        <hr>
                        電子郵件信箱：{{contact.email}}
                        <hr>
                        聯絡內容：{{contact.content}}
                        <hr>
                        {% if contact.reply %}
                            <p style="color:#007bff;">已確認寄出</p>
                        {% else %}
                            <p style="color:red">尚未回覆</p>
                        {% endif %}
                        <hr>
                        <button type="button" onclick="delete_({{contact.id}})" class="btn btn-danger">刪除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function delete_(id){
    axios({
        url:   `/management/single/${id}/`,
        method: "POST",
        headers: {
            'X-CSRFToken': "{{ csrf_token }}",
        },
    }).then(res=>{
        if(res.data.errno === 0){
            swal({
                'title':'已刪除',
                'text':'正在返回上一頁',
                "timer": 1500,
                'buttons':false,
                'icon':'success'
            })
            setTimeout(()=>{
               location.href= '/management/contact/'
            },1200)
        }
    })
}
</script>

{% endblock %}