{% extends 'school.html' %}


{% block content %}
<div class="breadcumb-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcumb-content">
					<div class="breadcubm-title">
						{% if lang == 'zh' %}
							<h1>發掘潛能，啟航未來</h1>
							<ul>
								<li><a href="/">首頁</a></li>
								<li>/ 升學諮詢 </li>
							</ul>
						{% else %}
							<h1>Unleash Potential, Embark on the Future</h1>
							<ul>
								<li><a href="/">Home</a></li>
								<li>/ After-school Programs</li>
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="margin-bottom: 100px" class=" style-home2">
	<div class="container">
		<div class="row align-items-center cell-phone-style">
			<div class="col-lg-6 col-md-12">
				<div class="section-title left">
					<h4>About as</h4>
					<h1>Enlighten wisdom, achieve the future.</h1>
					<p>
						We were founded in 2015 by Ellen Chu, an outstanding graduate of the University of California, Berkeley, dedicated to providing excellent educational services. XL Academy is renowned for its rich educational experience, outstanding academic guidance, and successful placement of students in globally recognized universities.
					</p>
				</div>
				<div class="about-list-item">
					<ul>
						<li><img src="/static/picture/about-list-icon.png" alt="icon">We've guided 200+ students into top-tier universities like Stanford, MIT, and beyond</li>
						<li><img src="/static/picture/about-list-icon.png" alt="icon">Our focus lies in fostering critical thinking, creativity, and a strong sense of responsibility</li>
						<li><img src="/static/picture/about-list-icon.png" alt="icon">Through innovative, personalized teaching methods, we empower students with the confidence to tackle academic hurdles head-on</li>
					</ul>
				</div>
				<div class="section-button">
					<a href="/#contact">Contact us<i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div >
					<img style="width:100%;border-radius:25px" src="/static/image/about.jpg" alt="about imgs">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}