{% extends 'index.html' %}
{% block loader %}
{% endblock %}

{% block content %}
    <div class="breadcumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcumb-content">
                        <div  class="breadcubm-title">
                            <h1>Error</h1>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>/</li>
                                <li><a href="#">Error page</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row justify-content-center my-auto">
               <div class="col-md-8 col-lg-6 col-xl-5">
                    <div style="border:1px solid #ced4da;padding:60px;margin-top:50px;margin-bottom:50px">
                        <h4 style="line-height:10px">This page does not exist or is not available for viewing</h4>
                        <a style="position: relative; top: 20px;" href="/">Click here to return to the homepage.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

