{% extends 'consult.html' %}




{% block content %}
<div class="blog-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title">
					<h4>世界名校</h4>
					<h1>探索世界各地頂尖學府</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".pub">公立大學</li>
							<li data-filter=".pri"> 私立大學</li>
							<li data-filter=".tech">技術學院</li>
							<li data-filter=".lang">語言學校</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="row image_load">

			{% for collage in  collages %}
				<div class="col-lg-3 col-md-4 col-sm-6 col-6 grid-item {{collage.continent}}" style="margin-top:50px;margin-bottom:100px">
					<div class="single-blog-box">
						<div class="blog-content">
							<img style="width:100%" src="/media/{{collage.emblem}}" alt="imgs">

							<div class="meta-blog">
								<span class="collage_place"><i class="bi bi-map collage_place"></i>{{collage.country}}</span>
							</div>
							<div class="blog-content-title">
								<h5 class="collage_title"><a class="collage_title" style="font-weight: 400" href="/detail/{{ collage.id}}">{{collage.name}}</a></h5>
							</div>
							<div class="blog-content-button">
								<a class="collage_read_more" href="/detail/{{ collage.id }}">Read More<i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			{%endfor %}
		</div>
		<nav aria-label="Page navigation example" style="display: flex;flex-direction: column;align-items: center;">
            <ul class="pagination" >
                {% if num > 1 %}
                <li class="page-item">
                    <a style="color:black" class="page-link" href="/consult/?type=classification&page={{prev}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for i in all_page %}
                    <li class="page-item" ><a style="color:black" class="page-link" href="/consult/?type=classification&page={{i}}">{{i}}</a></li>
                {% endfor %}
                {% if num !=  num_page  %}
                <li class="page-item">
                    <a style="color:black" class="page-link" href="/consult/?type=classification&page={{next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
	</div>
</div>
{% endblock %}