<body style="background: #f9f9fc">

{% extends 'school.html' %}

{% block content %}


<div class="blog-section">
	<div class="container">
		<div class="row" >
            <div class="col-lg-6 col-md-12 phone-style animate-left">
            {% if lang == 'zh' %}
				<div class="project-details-content ">
					<div class="project-details-title">
                        <h2>{{testQuestion.classification}}</h2>
                        <div class="categories-title">
                            <h4 style="margin-top: 50px">{{testQuestion.title}}</h4>
                        </div>
					</div>

					<div class="project-details-desc">
						<p style="white-space: pre-line">{{testQuestion.introduce}}</p>
					</div>

                    <p style="white-space: pre-line;color: black">試題編號 : {{testQuestion.id}}</p>
                    <p style="white-space: pre-line;color: black">價格 : {{testQuestion.price}}</p>
                    <div class="categories-title">
						<h4 style="margin-top: 50px;">注意事項 </h4>
					</div>
                    <p style="white-space: pre-line">{{ testQuestion.details }}</p>
				</div>
				{% else %}
				<div class="project-details-content">
					<div class="project-details-title">
                        <h2>{{testQuestion.classification}}</h2>
                        <div class="categories-title">
                            <h4 style="margin-top: 50px">{{testQuestion.title_en}}</h4>
                        </div>
					</div>

					<div class="project-details-desc">
						<p  style="white-space: pre-line;font-size: large">{{testQuestion.introduce_en}}</p>
					</div>

                     <p class="detail-info2" ><span style=";color:#2e2e2e">Test question id : </span>{{testQuestion.id}}</p>
                    <p class="detail-info2" ><span style=";color:#2e2e2e">price : </span>{{testQuestion.price}}</p>
                    <div class="categories-title">
                        <h4 style="margin-top: 50px;">Notice</h4>
                    </div>
                    <p style="white-space: pre-line;font-size: large">{{ testQuestion.details_en }}</p>

				</div>
				{% endif %}
			</div>
			<div class="col-lg-6 col-md-12 phone-style animate-right">
				<div class="widget-categories-box animate-block" style="margin-top: 20px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);border-radius: 15px">
					<div class="categories-title">
					    {% if lang == 'zh' %}
						<h4> 試題圖片 </h4>
						{% else %}
						<h4> Picture </h4>
					    {% endif %}
					</div>

					<img class = "book-picture" src="/media/{{ testQuestion.image }}">

				</div>
			</div>
                <div class="col-md-12 text-center animate-block phone-style">
              <div style="border-radius: 15px; padding: 50px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);background: #ffffff">
                <div class="col-md-12 text-center">
                  <div class="section-title">
                    <h3 style="display: inline-block; border-bottom: 5px solid #ff3839; line-height: 1.2">詢問細節</h3>
                  </div>
                </div>
                <form>
                  <div class="contact_us_form_">
                    <div class="col">
                      <div class="input-box">
                        <input id="username" class="contact_form_small" type="text" placeholder="姓名 *" required="">
                      </div>
                      <div class="input-box">
                        <input id="email" class="contact_form_small" type="email" name="Email" placeholder="電子郵件地址 *" required="">
                      </div>
                      <div class="input-box">
                        <input id="phone" class="contact_form_small" placeholder="聯絡電話">
                      </div>
                      <div class="input-box">
                        <textarea id="content" name="message" class="contact_form_large" style="height: 50px" cols="30" rows="3" placeholder="請輸入您的問題... *"></textarea>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="submit-button">
                  <button style="margin: 10px" type="submit" onclick="submit_()">送出 <i class="bi bi-arrow-right"></i></button>
                </div>
              </div>
            </div>

		</div>
	</div>
</div>

<script>
function submit_(){
			if(isNullOrWhitespace($('#username').val())==true || isNullOrWhitespace($('#email').val())==true || isNullOrWhitespace($('#content').val())==true){
				swal({
					'title':'資料填寫不全',
					'text':'＊號為必填表格',
					'icon':'warning',
					'buttons':false,
					'timer':1500
				})
			}else{
				axios({
					url:'/',
					method:"POST",
					headers:{'X-CSRFToken': "{{ csrf_token }}"},
					data:{
						'username':$('#username').val(),
						'email':$('#email').val(),
						'phone':$('#phone').val(),
						'content':$('#content').val(),
					}
				}).then(res=>{
					if(res.data.errno === 0){
						swal({
							'title':'已傳送',
							'text':'我們會盡快回覆您',
							'icon':'success',
							'buttons':false,
							'timer':1500
						})
					}else{
						swal({
							'title':'傳送失敗',
							'text':'無效資料或填寫補全',
							'icon':'error',
							'buttons':false,
							'timer':1500
						})
					}
				})
			}
		}
</script>

{% endblock %}
</body>
