{# 升學大學介紹 #}

{% extends 'zh/index.html' %}


{% block navbar %}
<style>
.mean-container a.meanmenu-reveal span {
    background: #000000;
}
</style>
{% if lang == 'zh' %}
<div id="sticky-header" class="main-header" style="height: 90px;  background: #ffffff;">
	<div class="container" style="height: 90px;position: relative; z-index: 100;">
		<div class="row align-items-center" style="height: 90px">
			<div class="col-lg-2" style="height: 90px">
				<div class="header-logo">
					<a href="/"><img style="height:55px;position: relative; top:5px " src="/static/picture/footer-logo.png" alt="logo"></a>
				</div>
			</div>
			<div class="col-lg-8" style="position: relative;bottom: 10px; ">
				<div class="header-menu">
					<ul class="nav_scroll">
						<li class="menu-item-has-children">
							<a    style="font-weight: 300;color:#000000" href="/">首頁</a>
						</li>
						<li class="menu-item-has-children">
							<a style="font-weight: 300;color:#000000" href="/consult">
								大學諮詢
								<i class="fas fa-caret-down"></i>
							</a>
							<ul class="sub-menu">
								<li><a href="/consult">關於我們</a></li>
								<li><a href="/consult?classification=type">學校類型</a></li>
								<li><a href="/consult?classification=region">學校地區</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a  style="font-weight: 300;color:#000000" href="/course/">
								服務
								<i class="fas fa-caret-down"></i>
							</a>
							<ul class="sub-menu">
								<li><a href="/course/">課程</a></li>
								<li><a href="/course?type=tutor">家教</a></li>
                                <li><a href="/service/consult/">諮詢</a></li>
								<li><a href="/shop/">線上試題</a></li>
							</ul>
						</li>
                        <li class="menu-item-has-children">
							<a style="font-weight: 300;color:#000000" href="/afficient/">
								Afficient
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div style="position: relative;bottom: 10px; " class="col-lg-2">
				<div class="second-header-button" >
					<a href="/#contact">聯絡我們<i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mobile-menu-area d-sm-block d-md-block d-lg-none k" >
		<div class="mobile-menu">
			<nav class="header-menu" style="display: block;color: black">
				<ul class="nav_scroll">
					<li class="menu-item-has-children">
						<a style="font-weight: 300;color:#000000" href="/">首頁</a>
					</li>
					<li class="menu-item-has-children">
						<a style="font-weight: 300;color:#000000" href="#">
							關於我們
						</a>
						<ul class="sub-menu">
							<li><a style="font-weight: 300;color:#000000" href="/consult">關於我們</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/consult?classification=type">學校類型</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/consult?classification=region">學校地區</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a style="font-weight: 300;color:#000000" href="/course/">
							服務
						</a>
						<ul class="sub-menu">
							<li><a style="font-weight: 300;color:#000000" href="/course/">課程</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/course?type=tutor">家教</a></li>
                            <li><a style="color:#000000; font-weight: 300" href="/service/consult/">諮詢</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/shop/">線上試題</a></li>
						</ul>
					</li>
                    <li class="menu-item-has-children">
                        <a  style="font-weight: 300;color:#000000" href="/afficient/">
                            Afficient
                        </a>
                    </li>
				</ul>
			</nav>
		</div>
	</div>
{% else %}
<div id="sticky-header" class="main-header" style="height: 90px; background: #ffffff;">
  <div class="container" style="height: 90px; position: relative; z-index: 100;">
    <div class="row align-items-center" style="height: 90px">
      <div class="col-lg-2" style="height: 90px">
        <div class="header-logo">
          <a href="/"><img style="height:55px; position: relative; top:5px" src="/static/picture/footer-logo.png" alt="logo"></a>
        </div>
      </div>
      <div class="col-lg-8" style="position: relative; bottom: 10px;">
        <div class="header-menu">
          <ul class="nav_scroll">
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/">Home</a>
            </li>
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/consult">
                about
                <i class="fas fa-caret-down"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="/consult">about as</a></li>
                <li><a href="/consult?classification=type">School Types</a></li>
                <li><a href="/consult?classification=region">School Regions</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/course/">
                Service
                <i class="fas fa-caret-down"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="/course/">Courses</a></li>
                <li><a href="/course?type=tutor">Tutoring</a></li>
                <li><a href="/service/consult/">Consult</a></li>
                <li><a href="/shop/">Online Tests</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/afficient/">
                Afficient
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2" style="position: relative; bottom: 10px;">
        <div class="second-header-button">
          <a href="/#contact">Contact <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-menu-area d-sm-block d-md-block d-lg-none">
  <div class="mobile-menu">
    <nav class="header-menu" style="display: block; color: black">
      <ul class="nav_scroll">
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="/">Home</a>
        </li>
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="#">
            About
            <i class="fas fa-caret-down"></i>
          </a>
          <ul class="sub-menu">
            <li><a style="font-weight: 300; color:#000000" href="/consult">About as</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/consult?classification=type">School Types</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/consult?classification=region">School Regions</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="/course/">
            service
            <i class="fas fa-caret-down"></i>
          </a>
          <ul class="sub-menu">
            <li><a style="font-weight: 300; color:#000000" href="/course/">Courses</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/course?type=tutor">Tutoring</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/service/consult/">Consult</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/shop/">Online Tests</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="/afficient/">
            Afficient
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endif %}
{% endblock %}

{% block content %}

<div class="blog-section" style="background-color: #f9f9fc;">
	<div class="container">

		{% if lang == 'zh' %}

		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title">
					<h4>世界名校</h4>
					<h1>探索世界各地頂尖學府</h1>
				</div>
			</div>
		</div>

		{% else %}
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title">
					<h4>universities</h4>
					<h1>Explore renowned universities around the world</h1>
				</div>
			</div>
		</div>

		{% endif %}
		{% if classification ==  'type' %}

		{% if lang == 'zh' %}
        <div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".pub">公立大學</li>
							<li data-filter=".pri">私立大學</li>
							<li data-filter=".tech">技術學院</li>
							<li data-filter=".lang">語言學校</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".pub">Public universities</li>
							<li data-filter=".pri">Private universities</li>
							<li data-filter=".tech">Technical colleges</li>
							<li data-filter=".lang">Language schools</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% endif %}
		{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".America">美洲</li>
							<li data-filter=".Europe"> 歐洲</li>
							<li data-filter=".Asia">亞洲</li>
							<li data-filter=".Australia">澳洲</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endif %}


		<div class="row image_load">
		    {% if classification == 'type' %}
                {% for collage in  collages %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 grid-item {{collage.classification}} school-block" >
                        <div class="single-blog-box school-box" >
                            <div class="blog-content" style="background-color: #ffffff">
                                <img style="width:100%" src="/media/{{collage.emblem}}" alt="image load error">

                                <div class="meta-blog">
                                    <span class="collage_place"><i class="bi bi-map collage_place"></i>{{collage.country}}</span>
                                </div>

                                <div class="blog-content-title">
                                    {% if lang == 'zh' %}
                                    <h5 class="collage_title"><a class="collage_title" style="font-weight: 400;line-height: 1.4" href="/detail/{{ collage.id}}">{{collage.name}}</a></h5>
                                    {% else %}
                                    <h5 class="collage_title responsive_collage_title" ><a  style="font-weight: 400;line-height: 1.4;font-size:17px" href="/detail/{{ collage.id}}">{{collage.en_name}}</a></h5>
                                    {% endif %}
                                </div>
                                <div class="blog-content-button">
                                    <a class="collage_read_more" href="/detail/{{ collage.id }}">Read More<i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor %}
			{% else %}
                {% for collage in  collages %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 grid-item school-block {{collage.continent}}" >
                        <div class="single-blog-box school-box" >
                            <div class="blog-content" style="background-color: #ffffff">
                                <img style="width:100%" src="/media/{{collage.emblem}}" alt="image load error">

                                <div class="meta-blog">
                                    <span class="collage_place"><i class="bi bi-map collage_place"></i>{{collage.country}}</span>
                                </div>
                                <div class="blog-content-title">
                                    {% if lang == 'zh' %}
                                    <h5 class="collage_title"><a class="collage_title" style="font-weight: 400;line-height: 1.4" href="/detail/{{ collage.id}}">{{collage.name}}</a></h5>
                                    {% else %}
                                    <h5 class="collage_title responsive_collage_title"><a class="collage_title" style="font-weight: 400;line-height: 1.4;font-size:17px" href="/detail/{{ collage.id}}">{{collage.en_name}}</a></h5>
                                    {% endif %}
                                </div>
                                <div class="blog-content-button">
                                    <a class="collage_read_more" href="/detail/{{ collage.id }}">Read More<i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			{% endif %}
		</div>
		<nav aria-label="Page navigation example" style="display: flex;flex-direction: column;align-items: center;">
            <ul class="pagination" >
                {% if num > 1 %}
                <li class="page-item">
					{% if classification == 'type' %}
                    <a style="color:black" class="page-link" href="/consult/?classification=type&page={{prev}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
					{% else %}
					 <a style="color:black" class="page-link" href="/consult/?classification=region&page={{prev}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
					{% endif %}
                </li>
                {% endif %}
                {% for i in all_page %}
					{% if classification == 'type' %}
                    <li class="page-item" ><a style="color:black" class="page-link" href="/consult/?classification=type&page={{i}}">{{i}}</a></li>
					{% else %}
					<li class="page-item" ><a style="color:black" class="page-link" href="/consult/?classification=region&page={{i}}">{{i}}</a></li>
					{% endif %}
                {% endfor %}
                {% if num !=  num_page  %}
                <li class="page-item">
					{% if classification == 'type' %}
                    <a style="color:black" class="page-link" href="/consult/?classification=type&page={{next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
					{% else %}
					 <a style="color:black" class="page-link" href="/consult/?classification=region&page={{next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
					{% endif %}
                </li>
                {% endif %}
            </ul>
        </nav>
	</div>
</div>



{% endblock %}

