


{% extends 'zh/index.html' %}


{% block navbar %}
<style>
.mean-container a.meanmenu-reveal span {
    background: #000000;
}
</style>
{% if lang == 'zh' %}
<div id="sticky-header" class="main-header" style="height: 90px;  background: #ffffff;">
	<div class="container" style="height: 90px;position: relative; z-index: 100;">
		<div class="row align-items-center" style="height: 90px">
			<div class="col-lg-2" style="height: 90px">
				<div class="header-logo">
					<a href="/"><img style="height:55px;position: relative; top:5px " src="/static/picture/footer-logo.png" alt="logo"></a>
				</div>
			</div>
			<div class="col-lg-8" style="position: relative;bottom: 10px; ">
				<div class="header-menu">
					<ul class="nav_scroll">
						<li class="menu-item-has-children">
							<a    style="font-weight: 300;color:#000000" href="/">首頁</a>
						</li>
						<li class="menu-item-has-children">
							<a style="font-weight: 300;color:#000000" href="/school">
								大學諮詢
								<i class="fas fa-caret-down"></i>
							</a>
							<ul class="sub-menu">
								<li><a href="/school">關於我們</a></li>
								<li><a href="/school/?classification=type">學校類型</a></li>
								<li><a href="/school?classification=region">學校地區</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a  style="font-weight: 300;color:#000000" href="/course/">
								服務
								<i class="fas fa-caret-down"></i>
							</a>
							<ul class="sub-menu">
								<li><a href="/course/">課程</a></li>
								<li><a href="/course?type=tutor">家教</a></li>
                                <li><a href="/service/consult/">諮詢</a></li>
								<li><a href="/shop/">探索更多</a></li>
							</ul>
						</li>
                        <li class="menu-item-has-children">
							<a style="font-weight: 300;color:#000000" href="/afficient/">
								Afficient
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div style="position: relative;bottom: 10px; " class="col-lg-2">
				<div class="second-header-button" >
					<a href="/#contact">聯絡我們<i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mobile-menu-area d-sm-block d-md-block d-lg-none k" >
		<div class="mobile-menu">
			<nav class="header-menu" style="display: block;color: black">
				<ul class="nav_scroll">
					<li class="menu-item-has-children">
						<a style="font-weight: 300;color:#000000" href="/">首頁</a>
					</li>
					<li class="menu-item-has-children">
						<a style="font-weight: 300;color:#000000" href="#">
							關於我們
						</a>
						<ul class="sub-menu">
							<li><a style="font-weight: 300;color:#000000" href="/school">關於我們</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/school?classification=type">學校類型</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/school?classification=region">學校地區</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a style="font-weight: 300;color:#000000" href="/course/">
							服務
						</a>
						<ul class="sub-menu">
							<li><a style="font-weight: 300;color:#000000" href="/course/">課程</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/course?type=tutor">家教</a></li>
                            <li><a style="color:#000000; font-weight: 300" href="/service/consult/">諮詢</a></li>
							<li><a style="font-weight: 300;color:#000000" href="/shop/">探索更多</a></li>
						</ul>
					</li>
                    <li class="menu-item-has-children">
                        <a  style="font-weight: 300;color:#000000" href="/afficient/">
                            Afficient
                        </a>
                    </li>
				</ul>
			</nav>
		</div>
	</div>
{% else %}
<div id="sticky-header" class="main-header" style="height: 90px; background: #ffffff;">
  <div class="container" style="height: 90px; position: relative; z-index: 100;">
    <div class="row align-items-center" style="height: 90px">
      <div class="col-lg-2" style="height: 90px">
        <div class="header-logo">
          <a href="/"><img style="height:55px; position: relative; top:5px" src="/static/picture/footer-logo.png" alt="logo"></a>
        </div>
      </div>
      <div class="col-lg-8" style="position: relative; bottom: 10px;">
        <div class="header-menu">
          <ul class="nav_scroll">
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/">Home</a>
            </li>
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/school">
                about
                <i class="fas fa-caret-down"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="/school">about as</a></li>
                <li><a href="/school?classification=type">School Types</a></li>
                <li><a href="/school?classification=region">School Regions</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/course/">
                Service
                <i class="fas fa-caret-down"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="/course/">Courses</a></li>
                <li><a href="/course?type=tutor">Tutoring</a></li>
                <li><a href="/service/consult/">Consult</a></li>
                <li><a href="/shop/">Explore</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a style="font-weight: 300; color:#000000" href="/afficient/">
                Afficient
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2" style="position: relative; bottom: 10px;">
        <div class="second-header-button">
          <a href="/#contact">Contact <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-menu-area d-sm-block d-md-block d-lg-none">
  <div class="mobile-menu">
    <nav class="header-menu" style="display: block; color: black">
      <ul class="nav_scroll">
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="/">Home</a>
        </li>
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="#">
            About
            <i class="fas fa-caret-down"></i>
          </a>
          <ul class="sub-menu">
            <li><a style="font-weight: 300; color:#000000" href="/school">About as</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/school?classification=type">School Types</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/school?classification=region">School Regions</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="/course/">
            service
            <i class="fas fa-caret-down"></i>
          </a>
          <ul class="sub-menu">
            <li><a style="font-weight: 300; color:#000000" href="/course/">Courses</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/course?type=tutor">Tutoring</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/service/consult/">Consult</a></li>
            <li><a style="font-weight: 300; color:#000000" href="/shop/">Explore</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a style="font-weight: 300; color:#000000" href="/afficient/">
            Afficient
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endif %}
{% endblock %}

{% block content %}

<div class="blog-section" style="background-color: #f9f9fc;">
	<div class="container">

		{% if lang == 'zh' %}

		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title">
					<h4>世界名校</h4>
					<h1>探索世界各地頂尖學府</h1>
				</div>
			</div>
		</div>

		{% else %}
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title">
					<h4>universities</h4>
					<h1>Explore renowned universities around the world</h1>
				</div>
			</div>
		</div>

		{% endif %}
		{% if classification ==  'type' %}

		{% if lang == 'zh' %}
        <div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".pub">公立大學</li>
							<li data-filter=".pri">私立大學</li>
							<li data-filter=".tech">技術學院</li>
							<li data-filter=".lang">語言學校</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".pub">Public universities</li>
							<li data-filter=".pri">Private universities</li>
							<li data-filter=".tech">Technical colleges</li>
							<li data-filter=".lang">Language schools</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% endif %}
		{% else %}
		{% if lang == 'zh' %}
		<div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".America">美洲</li>
							<li data-filter=".Europe"> 歐洲</li>
							<li data-filter=".Asia">亞洲</li>
							<li data-filter=".Australia">澳洲</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".America">America</li>
							<li data-filter=".Europe">Europe</li>
							<li data-filter=".Asia">Asia</li>
							<li data-filter=".Australia">Australia</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% endif %}


		<div class="row image_load">
		    {% if classification == 'type' %}
                {% for collage in  collages %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 grid-item {{collage.classification}} school-block" >
                        <div class="single-blog-box school-box" >
                            <div class="blog-content" style="background-color: #ffffff">
                                <img style="width:100%" src="/media/{{collage.emblem}}" alt="image load error">

                                <div class="meta-blog">
                                    <span class="collage_place"><i class="bi bi-map collage_place"></i>{{collage.country}}</span>
                                </div>

                                <div class="blog-content-title">
                                    {% if lang == 'zh' %}
                                    <h5 class="collage_title"><a class="collage_title" style="font-weight: 400;line-height: 1.4" href="/detail/{{ collage.id}}">{{collage.name}}</a></h5>
                                    {% else %}
                                    <h5 class="collage_title responsive_collage_title" ><a  style="font-weight: 400;line-height: 1.4;font-size:17px" href="/detail/{{ collage.id}}">{{collage.en_name}}</a></h5>
                                    {% endif %}
                                </div>
                                <div class="blog-content-button">
                                    <a class="collage_read_more" href="/detail/{{ collage.id }}">Read More<i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor %}
			{% else %}
                {% for collage in  collages %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 grid-item school-block {{collage.continent}}" >
                        <div class="single-blog-box school-box" >
                            <div class="blog-content" style="background-color: #ffffff">
                                <img style="width:100%" src="/media/{{collage.emblem}}" alt="image load error">

                                <div class="meta-blog">
                                    <span class="collage_place"><i class="bi bi-map collage_place"></i>{{collage.country}}</span>
                                </div>
                                <div class="blog-content-title">
                                    {% if lang == 'zh' %}
                                    <h5 class="collage_title"><a class="collage_title" style="font-weight: 400;line-height: 1.4" href="/detail/{{ collage.id}}">{{collage.name}}</a></h5>
                                    {% else %}
                                    <h5 class="collage_title responsive_collage_title"><a class="collage_title" style="font-weight: 400;line-height: 1.4;font-size:17px" href="/detail/{{ collage.id}}">{{collage.en_name}}</a></h5>
                                    {% endif %}
                                </div>
                                <div class="blog-content-button">
                                    <a class="collage_read_more" href="/detail/{{ collage.id }}">Read More<i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			{% endif %}
		</div>
		<nav aria-label="Page navigation example" style="display: flex;flex-direction: column;align-items: center;">
            <ul class="pagination" >
                {% if num > 1 %}
                <li class="page-item">
					{% if classification == 'type' %}
                    <a style="color:black" class="page-link" href="/school/?classification=type&page={{prev}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
					{% else %}
					 <a style="color:black" class="page-link" href="/school/?classification=region&page={{prev}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
					{% endif %}
                </li>
                {% endif %}
                {% for i in all_page %}
					{% if classification == 'type' %}
                    <li class="page-item" ><a style="color:black" class="page-link" href="/school/?classification=type&page={{i}}">{{i}}</a></li>
					{% else %}
					<li class="page-item" ><a style="color:black" class="page-link" href="/school/?classification=region&page={{i}}">{{i}}</a></li>
					{% endif %}
                {% endfor %}
                {% if num !=  num_page  %}
                <li class="page-item">
					{% if classification == 'type' %}
                    <a style="color:black" class="page-link" href="/school/?classification=type&page={{next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
					{% else %}
					 <a style="color:black" class="page-link" href="/school/?classification=region&page={{next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
					{% endif %}
                </li>
                {% endif %}
            </ul>
        </nav>
	</div>
</div>

{% endblock %}

{% block footer %}
{% if lang == 'zh' %}
<div style="padding: 75px 0 34px; background-color: #111111;">
  <div class="container">
    <div class="row">
      <div class=" col-lg-3 col-md-6">
        <div class=" footer-logo">
          <a href="/">
            <img class="footer-logo-pic"  src="/static/picture/footer-logo.png" alt="XL Academy 標誌">
          </a>
        </div>
        <div class="phone-footer footer-widget-text" style="height: 100px; position: relative; top: 16px">
          <p style="margin-right: 10px">
            XL Academy 提供最全面的教育資源。
          </p>
        </div>
        <div class=" footer-social-icon" style="margin-top: 20px;">
          <ul>
            <li><a target="_blank" href="https://www.facebook.com/xlacademytw?mibextid=YMEMSu"><i class="fab fa-facebook-f"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/@xlacademy698"><i class="fab fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://line.me/R/ti/p/@xlacademy"><i class="fab fa-line"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="phone-footer col-lg-3 col-md-6">
        <div class="footer-widget-content">
          <div class="footer-widget-title">
            <h4>連結</h4>
          </div>
          <div class="footer-widget-menu">
            <ul>
              <li><a href="/" style="font-weight: 500;">首頁</a></li>
              <li><a href="/school/" style="font-weight: 500;">升學諮詢</a></li>
              <li><a href="/shop/" style="font-weight: 500;">探索更多</a></li>
              <li><a href="/course/" style="font-weight: 500;">學術指導</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget-content">
          <div class="footer-widget-title">
            <h4>聯絡資訊</h4>
          </div>
          <div class="footer-widget-contact">
            <ul>
              <li><a style="text-transform: lowercase"  href="mailto:xlacademy168@gmail.com">xlacademy168@gmail.com</a></li>
              <li><a href="tel:02 2532 2393">02-2532-2393</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="phone-footer col-lg-3 col-md-6">
        <div class="footer-widget-content">
          <div class="footer-widget-title">
            <h4>地址</h4>
          </div>
          <div class="footer-widget-text-2">
            <p>台灣台北市民生路397巷7弄61號1樓</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyriht-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copyriht-content">
              <span>© 2024 XL Academy 版權所有。</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div  style="padding: 75px 0 34px;background-color: #111111;">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-logo">
					<a  href="/">
						<img class="footer-logo-pic" src="/static/picture/footer-logo.png" alt="logo">
					</a>
				</div>
				<div class="footer-widget-text phone-footer" style=" height: 100px;position: relative; top: 16px">
					<p style="margin-right: 10px">
						XL Academy offers you access to the most comprehensive educational resources.
					</p>
				</div>
				<div class="footer-social-icon" style="margin-top: 20px;">
					<ul>
						<li><a target="_blank" href="https://www.facebook.com/xlacademytw?mibextid=YMEMSu"><i class="fab fa-facebook-f"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/@xlacademy698"><i class="fab fa-youtube"></i></a></li>

						<li><a target="_blank" href="https://line.me/R/ti/p/@xlacademy"><i class="fab fa-line"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="phone-footer col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Link</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><a href="/" style="font-weight: 500;">Home</a></li>
							<li><a href="/school" style="font-weight: 500;">collage consult</a></li>
							<li><a  href="/shop/" style="font-weight: 500;">Explore</a></li>
							<li><a  href="/course/" style="font-weight: 500;">Academic Guidance</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Contact information</h4>
					</div>
					<div class="footer-widget-contact">
						<ul>
                        <li><a style="text-transform: lowercase" href="mailto:xlacademy168@gmail.com">xlacademy168@gmail.com</a></li>
                        <li><a href="tel:02 2532 2393">02-2532-2393</a></li>
            </ul>
					</div>
				</div>
			</div>
			<div class="phone-footer col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Location</h4>
					</div>
					<div class="footer-widget-text-2">
						<p>First Floor, No. 61, Alley 7, Lane 397, Minshui Road., Taipei, Taiwan</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyriht-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="copyriht-content">
                        <span>Copyright &copy; 2024.XL Academy All rights reserved .</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}