{# 試題購買 #}

{% extends 'school.html' %}


{% block content %}



<div class="blog-section" style="background: #f9f9fc">
	<div class="container animate-block">

	    {% if lang == 'zh' %}
        <div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title">
					<h4>探索更多</h4>
					<h1>XL Academy 課程總覽</h1>
				</div>
			</div>
		</div>
		{% else %}
		<div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h4>Explore</h4>
                    <h1>Courses Offered At XL Academy</h1>
                </div>
            </div>
        </div>

		{% endif %}

		<div class="row">
			<div class="col-md-12">
				<div class="product_nav">
					<div class="product_menu">
						<ul class="menu-filtering">
							<li class="current_menu_item" data-filter="*"> All</li>
							<li data-filter=".SAT">SAT</li>
							<li data-filter=".AP"> AP</li>
							<li data-filter=".IB">IB</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row image_load">
			{% for testQuestion in testQuestions %}
			<div class="col-lg-3 col-md-6 grid-item {{testQuestion.classification}} ">
				<div class="single-products-box" style="margin: 10px;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); border-radius: 0;">
					<div class="products-content" style="padding-bottom: 10px">
						{% if lang == 'zh' %}
						<div class="products-title">
							<h3>{{testQuestion.classification}}</h3>
							<p ><a style="font-weight: 400" href="/product/{{testQuestion.id}}/">{{testQuestion.title}}</a></p>
							<p class="dolor">${{testQuestion.price}}</p>
						</div>
						{% else %}
						<div class="products-title">
							<h3>{{testQuestion.classification}}</h3>
							<p ><a style="font-weight: 400" href="/product/{{testQuestion.id}}/">{{testQuestion.title_en}}</a></p>
							<p class="dolor">${{testQuestion.price}}</p>
						</div>
						{% endif %}
						<div class="products-rating">
							<ul>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
